._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-gov-etracs-bpls/nbproject/private/
/client/rameses-gov-etracs-bpls-ceo/nbproject/private/
/client/rameses-gov-etracs-bpls-reports/nbproject/private/
/client/rameses-gov-etracs-bpls-tracs/nbproject/private/
/client/rameses-gov-etracs-bpls/build/
/client/rameses-gov-etracs-bpls-reports/build/
/client/rameses-gov-etracs-bpls-reports/dist/
/client/rameses-gov-etracs-bpls-ceo/build/
/client/rameses-gov-etracs-bpls-ceo/dist/
/client/rameses-gov-etracs-bpls-tracs/build/
/client/rameses-gov-etracs-bpls-tracs/dist/
/client/rameses-gov-etracs-bpls/dist/
/client/rameses-gov-etracs-bpls-option/build/
/client/rameses-gov-etracs-bpls-option/dist/
/client/rameses-gov-etracs-bpls-online/dist/
/client/rameses-gov-etracs-bpls-online/build/